<!DOCTYPE html>
<html lang="en">


<body>
<h1>hello python</h1>

<div class="container">
    <h2>Button Pressed: {{ButtonPressed}}</h2>
    <form method="post">
        <input type="text" name="member_name" >
        <select id = 'project' name = 'project'>
            <option value="computer_vision">computer_vision</option>
            <option value="recommendation_system">recommendation_system</option>
            <option value="credit_card">credit_card</option>
        </select>
        <input type="submit" value="Click Me" >
    </form>
 </div>

</body>

</html>
